# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/Weather_Data/cities.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_DataBase/Weather_Data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
0,0,New Norfolk,-42.7826,147.0587,63.91,48,9,3.00,AU,clear sky,2022-10-20 04:46:21
1,1,Ushuaia,-54.8000,-68.3000,37.06,81,75,14.97,AR,broken clouds,2022-10-20 04:45:52
2,2,Tuktoyaktuk,69.4541,-133.0374,26.60,86,100,6.91,CA,overcast clouds,2022-10-20 04:43:52
3,3,Jamestown,42.0970,-79.2353,37.06,95,100,12.66,US,overcast clouds,2022-10-20 04:46:22
4,4,Thompson,55.7435,-97.8558,32.16,100,100,3.44,CA,fog,2022-10-20 04:46:22

In [3]:
city_data_df.dtypes

City_ID          int64
City            object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Cloudiness       int64
Wind Speed     float64
Country         object
Description     object
Date            object
dtype: object

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
8,8,Bambous Virieux,-20.3428,57.7575,76.21,68,20,5.75,MU,few clouds,2022-10-20 04:43:08
9,9,Kapaa,22.0752,-159.3190,75.18,77,100,13.80,US,overcast clouds,2022-10-20 04:46:24
23,23,Hirara,24.8000,125.2833,82.26,73,75,23.02,JP,broken clouds,2022-10-20 04:46:28
28,28,Atuona,-9.8000,-139.0333,76.89,75,6,13.71,PF,clear sky,2022-10-20 04:42:32
29,29,Kavieng,-2.5744,150.7967,85.57,67,92,8.41,PG,overcast clouds,2022-10-20 04:46:30
31,31,Hithadhoo,-0.6000,73.0833,80.51,76,92,8.50,MV,overcast clouds,2022-10-20 04:46:30
33,33,Pachperwa,27.5167,82.6500,79.05,57,0,2.04,IN,clear sky,2022-10-20 04:46:31
43,43,Cayenne,4.9333,-52.3333,77.04,94,20,1.14,GF,few clouds,2022-10-20 04:46:34
47,47,Mahebourg,-20.4081,57.7000,76.24,68,20,5.75,MU,few clouds,2022-10-20 04:47:35
48,48,Tual,-5.6667,132.7500,84.07,72,80,3.80,ID,broken clouds,2022-10-20 04:42:48

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
8,8,Bambous Virieux,-20.3428,57.7575,76.21,68,20,5.75,MU,few clouds,2022-10-20 04:43:08
9,9,Kapaa,22.0752,-159.3190,75.18,77,100,13.80,US,overcast clouds,2022-10-20 04:46:24
23,23,Hirara,24.8000,125.2833,82.26,73,75,23.02,JP,broken clouds,2022-10-20 04:46:28
28,28,Atuona,-9.8000,-139.0333,76.89,75,6,13.71,PF,clear sky,2022-10-20 04:42:32
29,29,Kavieng,-2.5744,150.7967,85.57,67,92,8.41,PG,overcast clouds,2022-10-20 04:46:30

In [7]:
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Country        0
Description    0
Date           0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Description","Lat","Lng"]]

# Display sample data
hotel_df.head()

               City Country  Max Temp      Description      Lat       Lng
8   Bambous Virieux      MU     76.21       few clouds -20.3428   57.7575
9             Kapaa      US     75.18  overcast clouds  22.0752 -159.3190
23           Hirara      JP     82.26    broken clouds  24.8000  125.2833
28           Atuona      PF     76.89        clear sky  -9.8000 -139.0333
29          Kavieng      PG     85.57  overcast clouds  -2.5744  150.7967

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df =clean_travel_cities[["City","Country","Max Temp","Description","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
8,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,
9,Kapaa,US,75.18,overcast clouds,22.0752,-159.3190,
23,Hirara,JP,82.26,broken clouds,24.8000,125.2833,
28,Atuona,PF,76.89,clear sky,-9.8000,-139.0333,
29,Kavieng,PG,85.57,overcast clouds,-2.5744,150.7967,
31,Hithadhoo,MV,80.51,overcast clouds,-0.6000,73.0833,
33,Pachperwa,IN,79.05,clear sky,27.5167,82.6500,
43,Cayenne,GF,77.04,few clouds,4.9333,-52.3333,
47,Mahebourg,MU,76.24,few clouds,-20.4081,57.7000,
48,Tual,ID,84.07,broken clouds,-5.6667,132.7500,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
8,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
9,Kapaa,US,75.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Hirara,JP,82.26,broken clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
28,Atuona,PF,76.89,clear sky,-9.8000,-139.0333,Villa Enata
29,Kavieng,PG,85.57,overcast clouds,-2.5744,150.7967,Nusa Island Retreat

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
8,Bambous Virieux,MU,76.21,few clouds,-20.3428,57.7575,Casa Tia Villa
9,Kapaa,US,75.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Hirara,JP,82.26,broken clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
28,Atuona,PF,76.89,clear sky,-9.8000,-139.0333,Villa Enata
29,Kavieng,PG,85.57,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
31,Hithadhoo,MV,80.51,overcast clouds,-0.6000,73.0833,Scoop Guest House
33,Pachperwa,IN,79.05,clear sky,27.5167,82.6500,Manglam mairrage lawn
43,Cayenne,GF,77.04,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
47,Mahebourg,MU,76.24,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
48,Tual,ID,84.07,broken clouds,-5.6667,132.7500,Grand Vilia Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Atoll Emerald Miyakojima</dd>\n<dt>City</dt><dd>Hirara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Manglam mairrage lawn</dd>\n<dt>City</dt><dd>Pachperwa</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Vilia Hotel</dd>\n<dt>City</dt><dd>Tual</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.07 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
8  -20.3428   57.7575
9   22.0752 -159.3190
23  24.8000  125.2833
28  -9.8000 -139.0333
29  -2.5744  150.7967
31  -0.6000   73.0833
33  27.5167   82.6500
43   4.9333  -52.3333
47 -20.4081   57.7000
48  -5.6667  132.7500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Create a figure to add the Google map as a layer
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))